.jss-17454044 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jss-b57990f6 {
  color: black;
  box-shadow: 0 0 12px black;
}
.jss-b57990f6:hover {
  box-shadow: 0 0 4px black;
}
.jss-b57990f6 .title {
  color: blue;
}
@media (max-width: 960px) {
  .jss-b57990f6 {
    box-shadow: 0 0 8px black;
  }
  .jss-b57990f6:hover {
    box-shadow: 0 0 2px black;
  }
}
